@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Questrial&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Varela Round', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.big {
  flex-direction: column;
}
.btn {
  text-decoration: none;
  font-size: 2rem;
}
.searchBox {
  background-color: white;
  border: 1px solid var(--back);
  width: 80%;
  margin-top: 6rem;
  font-size: 2rem;
  padding: 3rem;
  line-height: 5rem;
  margin-bottom: 3rem;
}
.searchBox  {
  font-size: 2.2rem;
  opacity: 0.9;
}
.searchBox input {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 2rem;
  border: 1px solid var(--back);
}

:root{
  --back: rgba(0, 0, 0, 0.3);
  --kok: #343CEB;
}

.input {
  padding: 20px;
}

.searchBox input::placeholder {
  font-size: 2rem;
  padding-left: 1rem;
}

.answer >div {

  box-shadow:  0 0 10px rgba(128, 128, 128, 0.5);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* .answer--left {
  height: 300px;
  border: 2px solid red;
} */

.answer--left img {
  width: 90%;
  border-radius: 50%;
}
.answer--left {
  flex-direction: column;
}
.answer {
  padding: 3rem;
  border: 1px solid var(--back);
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.btn {
  width: 80%;
  height: 40px;
  border: none;
  color: white;
  background-color: var(--kok);
  border-radius: 5px;
  margin-top: 3rem;
}
.answer--right--top {
  justify-content: left;
  gap: 1rem;
}
.box1 {
  color: blue;
  font-size: 1.6rem;
  padding: 0.3rem 1rem;
}
.answer--right--bottom {
  margin-top: 2rem;
}
.box2 {
  font-size: 2rem;
  padding: 1rem 1rem;
  border: 0.5px solid var(--back);
}
.repoTitle {
  width: 80%;
  text-align: left;
  margin-top: 2rem;
  font-size: 1.6rem;
}
.latestRepos {
  margin-top: 2rem;
  padding: 2rem;
  border: 0.5px solid var(--back);
  justify-content: space-between;
  width: 80%;
}
.repoName {
  font-size: 2rem;
  color: blueviolet;
}
.repositories {
  flex-direction: column;
  width: 80%;
}

.answer--right--top div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #343CEB;
}
